.Gallry{
    background-color: #f8f4f2;
    padding: 100px 20px;
}
.Konstantin1 img{
    width: 185px;
    height: 263px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 20px;
}
.Konstantin2 img{
    width: 388px;
    height: 550px;
    margin-left: 20px;
    border-radius: 20px;
    object-fit: cover;

}
.Countries2 img {
    width: 370px;
    height: 263px;
    border-radius: 21px;
    object-fit: cover;
}
.containerx{
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    object-fit: cover;
}
.Konstantin1-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 263px;
    background: #e7e0eb;
    padding: 20px;
    border-radius: 20px;
    width: 185px;
}
.chanj-co{
    background-color: #f9f0d2 !important;
}
.Konstantin1.d-flex.gap-2 {
    gap: 1rem !important;
}
@media only screen and (max-width: 1480px){
    img{
        width: 100%;
    }
    .Konstantin1-img {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 186px;
        background: #e7e0eb;
        padding: 20px;
        border-radius: 20px;
        width: 130px;
    }
    .Konstantin2 img {
        width: 255px !important;
        height: 400px !important;     
    }
     .Countries2 img {
        width: 270px !important;
        height: 192px !important;
     
    }
    .Konstantin1 img {
        width: 123px !important;
        height: 187px !important;
        display: block;
    }
    .Konstantin.d-flex {
        justify-content: end;
    }
}
@media only screen and (max-width: 768px){
    .Konstantin1 img {
        width: 100% !important;
           height: auto !important;      
    }
    .chanj-co{
        background-color: #f9f0d2 !important;
        margin-top: 20px !important;
    }
    .Konstantin1-img {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        background: #e7e0eb;
        padding: 20px;
        border-radius: 20px;
        /* width: 130px; */
        margin-bottom: 20px;
        width: 100%;
    }
    .Countries2 img {
        width: 100% !important;
        height: auto !important;
        border-radius: 21px;
    }
    .Konstantin2 img {
        width: 100% !important;
        height: auto !important;
        border-radius: 21px;
        margin-left: 0px !important;    }
    .Countries2{
     text-align: center;
     margin-bottom: 20px;
    }
    .Countries {
     flex-wrap: wrap;
     justify-content: center;
    }
    .Konstantin.d-flex {
        flex-wrap: wrap;
    }
    .Konstantin1.d-flex.gap-2 {
        flex-wrap: wrap;
    }
    .containerx {
        width: 100% ;
        max-width: 400px !important;
        margin: 0 auto;
    }
    .Gallry {
        background-color: #fff;
        padding: 50px 20px !important;
    }
}
